.AEL { background: #1c7670;}
.TCL { background: #fe7f1d;}
.TML { background: #9a3b26;}
.TKL { background: #6b208b;}
.EAL { background: #53b7e8;}
.SIL { background: #b5bd00;}
.TWL { background: #ff0000;}
.ISL { background: #0860a8;}
.KTL { background: #1a9431;}
.DRL { background: #f550a6;}